<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
  </appSettings>
  <connectionStrings>
    <add name="MSSQL" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=ServiceDB;Integrated Security=SSPI;" />
    <add name="PostgreSQL" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=ServiceDBc;Integrated Security=SSPI;" />
  </connectionStrings>
</configuration>